.separators {
  position: relative;
  height: 6.375rem;
  transform: rotateY(360deg);
}

.separators:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 42.75rem 150vw;
  border-color: transparent transparent #000000 transparent;
  
}
