.separators {
  position: relative;
  height: 6.375rem;
  transform: rotateY(360deg);
}

.separators:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 42.75rem 150vw;
  border-color: transparent transparent #000000 transparent;
  
}

.resized-image {
  width: 30px; /* You can set the width to a specific value or percentage */
  height: auto; /* This ensures that the aspect ratio is maintained */
}

.custom-rounded-container {
  border-radius: 50px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure rounded corners are visible */
}

@media (min-width: 1px) {
  .cihuy {
    min-height: 4em;
    overflow: hidden;
  }
  .etc{
    @apply flex flex-row flex-wrap;
  }
  .goals{
    @apply md:w-1/4 w-full md:px-1.5 mb-4;
  }
}

/* For Tablets */
@media (min-width: 600px) {
  .cihuy {
    min-height: 6em;
    overflow: hidden;
  }
  .etc{
    @apply grid grid-cols-3 place-items-center;
  }

  .goals{
    @apply w-full md:px-1.5 mb-4;
  }
  
}
@media (min-width: 1100px) {
  .cihuy {
    min-height: 4em;
    overflow: hidden;
  }
  .etc{
    @apply flex flex-row flex-wrap;
  }

  .goals{
    @apply md:w-1/4 w-full md:px-1.5 mb-4;
  }
}



/* .cihuy {
  min-height: 4.5em;
  overflow: hidden;
} */



.event{
  @apply md:w-full px-1.5 w-full mb-4;
}