.separator {
  position: relative;
  height: 6.375rem;
  transform: rotateY(180deg);
}

.separator:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6.375rem 100vw;
  border-color: transparent transparent #ffffff transparent;
}

.custom-pr-120 {
  padding-right: 120px;
}
.custom-margin-top-inherit {
  margin-top: inherit;
}
.headCTA {
  font-size: 4.375rem;
}

/* For Tablets */
@media (max-width: 991.98px) {
  .headCTA {
    font-size: 3.75rem;
  }
}

/* For Android Screens */
@media only screen and (max-device-width: 480px) {
  .headCTA {
    font-size: 3.125rem;
  }
}