.separator {
  position: relative;
  height: 6.375rem;
  transform: rotateY(180deg);
}

.separator:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6.375rem 100vw;
  border-color: transparent transparent #ffffff transparent;
}

.custom-margin-top-inherit {
  margin-top: inherit;
}
.headCTA {
  font-size: 4.375rem;
}

.custom-button {
  cursor: pointer;
  opacity: 1;
  /* Set the initial opacity to 1 (fully opaque) */
  transition: opacity 0.2s;
  /* Apply the transition effect to opacity */
}

.custom-button:hover {
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
/* For Tablets */
@media (max-width: 991.98px) {
  .headCTA {
    font-size: 2rem;
  }
  .div-head{
    padding-right: 85px;
    padding-left: 20px;
  }
}

/* dimension using pixel 5 */
/* For Android Screens */
@media only screen and (max-device-width: 480px) {
  .headCTA {
    font-size: 1.5rem;
  }
.div-head {
  padding-right: 85px;
  padding-left: 20px;
}

}