.separator {
  position: relative;
  height: 6.375rem;
  transform: rotateY(180deg);
}

.separator:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6.375rem 100vw;
  border-color: transparent transparent #ffffff transparent;
}

.card{
  @apply flex flex-col md:flex-row items-center justify-center bg-white md:w-[45%] w-4/5 p-4 md:mx-4 mx-auto md:mt-0 mt-8 rounded md:h-72;
}

.contributor_item{
  @apply lg:w-1/5 md:w-[30%] w-full px-1.5 flex flex-col justify-center mt-3 h-16;
}